<table>
  <tr>
    <th>Account ID</th><th>Invoice ID</th><th>Invoice Name</th><th>Invoice Amount</th><th>Amount Due</th>
    <th>
      <a class="btn btn-default btn-xs" ng-click="$ctrl.addNew()">Add New Invoice</a>
    </th>
  </tr>
  <tr ng-repeat="invoice in $ctrl.account.invoices">
    <td>{{invoice.accountId}}</td>
    <td>{{invoice.id}}</td>
    <td>{{invoice.name}}</td>
    <td>{{invoice.amount}}</td>
    <td>{{invoice.due}}</td>
    <td>
      <button class="btn btn-default btn-xs" ng-click="$ctrl.edit(invoice)">
        <span class="glyphicon glyphicon-pencil" title="Edit"></span>
      </button>
      <button class="btn btn-default btn-xs" ng-click="$ctrl.delete(invoice)">
        <span class="glyphicon glyphicon-trash" title="Remove"></span>
      </button>
    </td>
  </tr>
</table>
